* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

button {
    background-color: white;
    border: none;
    cursor: pointer;
}

html, body {
    font-family: 'Nunito', sans-serif;
    color: white;

    height: 100%;
    min-height: 900px;
    max-height: 1200px;
}

body {
    position: relative;
    background-image: url('img/clear-day.svg');
    background-position: center;
    background-size: cover;
}


/* Settings */
.settings {
    display: grid;
    grid-template-rows: 10% 90%;
    position: relative;
    top: 5%;
    left: 65%;

    height: 400px;
    width: 300px;
}

#settings-btn {
    justify-self: end;
    margin-right: 20px;

    position: relative;
    z-index: 5;

    height: 30px;
    width: 30px;
    cursor: pointer;
}

.dropdown {
    display: none;
    grid-template-rows: 25% 75%;
    place-items: center;

    position: relative;
    z-index: 5;

    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 0 0 80px rgba(141, 64, 12, 0.6);
    border-radius: 10px;
    color: brown;
}

#scale {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px;

    width: 80%;
}

#scale button {
    background-color: rgb(255, 188, 140);
    border-radius: 5px;
    color: white;
}

#scale button.active {
    background-color: rgb(224, 149, 96);
}

#backgrounds {
    display: grid;
    align-items: center;
    
    width: 80%;
    height: 90%;
}

#backgrounds div {
    display: grid;
    grid-template-columns: auto auto;
}

#backgrounds div span {
    justify-self: start;
}

#backgrounds div img {
    justify-self: end;

    width: 50px;
    height: 25px;
}

.close-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;
    background: rgba(129, 50, 5, 0.2);
}

.show-grid {
    display: grid;
}

.show-block {
    display: block;
}




.forecast {
    display: grid;
    place-items: center;

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.description {
    font-size: 2.4rem;
    font-weight: 500;
}

.location {
    font-size: 1.6rem;
    font-weight: 500;
}

.temperature {
    font-size: 4.5rem;
    font-weight: 900;
}


/* Five Days Forecast */

.five-day-forecast {
    position: absolute;
    bottom: -7%;;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.1rem;
}

.five-day-forecast ul {
    width: 30vw;
}

.five-day-forecast ul li {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    height: 60px;
}

.five-day-forecast ul li:hover {
    background-color: rgba(0, 0, 0, 0.2)
}

.five-day-forecast ul li div {
    justify-self: right;

    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;

    width: 30%;
}

.five-day-forecast ul li div img {
    width: 30px;
    height: 30px;
}